#bread,
.text-box,
#btnImprimir,
#btnPesquisar,
select {
    display: none;
}

h4 {
    padding-top: 5px;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.titulo {
    text-align: center;
    color: #FFF;
}

.navbar-fixed-top {
    top: 0px;
    border-width: 0px 0px 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    transform: translate3d(0px, 0px, 0px);
}

.navbar {
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    display: block;
    height: 93px;
    text-align: center;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    font-size: 0.85em;
    font-family: "Segoe UI",Verdana,Helvetica,sans-serif;
    color: #232323;
}

.col-md-4 {
    width: 33.3333%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-left {
    text-align: left;
}

.span12 content-area top100 {
    margin: 0px;
    padding: 0px;
}

.col-md-1 {
    width: 8.33333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-025 {
    width: 22%;
}

.col-md-030 {
    width: 30%;
}

.col-md-070 {
    width: 70%;
}

.col-md-100 {
    width: 100%;
}

.col-md-005, .col-md-010, .col-md-012, .col-md-015, .col-md-020, .col-md-025, .col-md-027, .col-md-030, .col-md-035, .col-md-040, .col-md-045, .col-md-050, .col-md-055, .col-md-060, .col-md-065, .col-md-070, .col-md-073, .col-md-075, .col-md-080, .col-md-085, .col-md-090, .col-md-095, .col-md-100 {
    float: left;
}

.col-md-005, .col-md-010, .col-md-012, .col-md-015, .col-md-020, .col-md-027, .col-md-025, .col-md-030, .col-md-035, .col-md-040, .col-md-045, .col-md-050, .col-md-055, .col-md-060, .col-md-065, .col-md-070, .col-md-073, .col-md-075, .col-md-080, .col-md-085, .col-md-090, .col-md-095, .col-md-100 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-050 {
    width: 50%;
}

* {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

textarea .form-control {
    height: auto;
    overflow: auto;
}
