@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Acompanhamento Geral", "AcompanhamentoGeral", "Relatorios")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Acompanhamento Etapa", "AcompanhamentoEtapa", "Relatorios")
    </div>
</div>
