@model AvaliacaoDesempenho.Models.CiclosAvaliacao.CicloAvaliacaoSelecionadoViewModel

<div class="row">
    <div class="col-md-015">
        @Html.LabelFor(model => model.Descricao)
    </div>
    <div class="col-md-075">
        @Html.DisplayFor(model => model.Descricao, new { @clas="label-control" })
    </div>
</div>
<hr />