@{
    ViewBag.Title = "Email enviado";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

@{
    ViewBag.Title = "EmailEnviado";
}

<section id="bread">
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Administração", "Index", "Home")<span class="divider"></span></li>
        <li>@Html.ActionLink("Gerenciamento de Ciclos de Avaliação", "GestaoCiclosAvaliacao", "CiclosAvaliacao")<span class="divider"></span></li>
        <li class="active">Importar e Equivaler Cargos e Competências</li>
        <li class="pull-right">@Html.ActionLink("Sair", "LogOff", "Autenticacao")</li>
    </ul>
</section>

<h2>Email(s) enviado(s) com sucesso.</h2>
