@using AvaliacaoDesempenho.Dominio.BusinessEntities

@model AvaliacaoDesempenho.Models.Home.HomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<section id="bread">
    <ul class="breadcrumb">
        <li class="active">Administração</li>
        <li class="pull-right">@Html.ActionLink("Sair", "LogOff", "Autenticacao")</li>
    </ul>
</section>

@Html.Action("SelecaoCicloAvaliacao", "CiclosAvaliacao", new { cicloAvaliacaoSelecionadoID = Model.CicloAvaliacaoSelecionadoID })

@if (HttpContext.Current.User.IsInRole(Enumeradores.Papeis.ADMINISTRADOR))
{
    @Html.Partial("MenuAdministracao")
}