<div class="row top50">
    <div class="col-md-12">
        <label class="control-label">
            Administração do Sistema
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Gerenciamento de Ciclos de Avaliação", "GestaoCiclosAvaliacao", "CiclosAvaliacao")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Gerenciamento de Administradores", "GestaoAdministradores", "Usuarios")
    </div>
</div>